body {
  background: white;
  font-family: sans-serif;
}

div#wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

#title {
  z-index: 1;

  color: grey;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bold;

}

#corn {
  list-style: none;
  padding: 0px;
  font-family: cursive;
}

li {
  color: green;
  font-size: 35px;
  letter-spacing: -4px;
}

/* #yo_yo > li {
  color: hotpink;
} */

#corn li:nth-child(2) {
  color: orange;
  font-family: sans-serif;
}

#forgottenMiddleChild {
  color: red;
  font-family: fantasy;
}

#favoriteLastChild {
  color: gold !important;
  font-family: serif;
}

li[age="45"] {
  color: grey;
  font-family: monospace;
}
