#example2 {
  position: relative;
  width: 300px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}

@keyframes spinnerz {
  0% {
    transform: rotate(340deg);
    top: 90px;
  }
  50% {
    transform: rotate(0deg);
    top: -40px;
  }
  100% {
    transform: rotate(10deg);
    top: 90px;
  }
}

@keyframes hammer_shadow {
  0% {
    width: 150px;
  }
  50% {
    width: 80px;
  }
  100% {
    width: 150px;
  }
}

#flash {
  height: 250px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  /* background: radial-gradient(#00d0ff99, #ffffff00, #00000000); */
  background: url('./flash.png');
  background-size: contain;
  opacity: 0;
}

#shadow2 {
  height: 35px;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: radial-gradient(#00000099, #00000000, #00000000);
}
#example2 > div:not(#shadow2) {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 18px;
}

#example2 > div:hover {
  cursor: -webkit-grab;
}

#example2 > div:active {
  animation: spinnerz 1.5s infinite;
  cursor: -webkit-grabbing;
}

#example2:active #flash {
  animation-name: flash;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

#example2:active #shadow2 {
  animation-name: hammer_shadow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}





#example2 > div > div:first-child {
  height: 30px;
  width: 15px;
  border: 6px inset grey;
  background: linear-gradient(to right, grey, #444444);
}

#example2 > div > div:nth-child(2) {
  height: 22px;
  width: 90px;
  /* border: solid; */
  background: repeating-linear-gradient(
    45deg,
    #774209,
    #774209 10px,
    #65270a 10px,
    #65270a 20px
  );
}

#example2 > div > div:nth-child(3) {
  height: 100px;
  width: 50px;
  border: 8px inset grey;
  background: linear-gradient(to right, grey, #444444);
}
