body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#ddd, white, #eaeaea, #7d7d7d);
  overflow: hidden;
}

#wrapper {
  display: flex;
  justify-content: space-around;
  width: inherit;
  height: 300px;
  margin: 0 50px;
}

#myFunTitle {
  margin-top: 150px;
  font-style: italic;
  font-family: sans-serif;
  letter-spacing: -1px;
  text-align: center;
  font-size: 30px;

  color: inherit;
  transition: color 1s, font-size 1s;
}

#myFunTitle:hover {
  color: red;
  font-size: 50px;
}
